$green: #84bc22;
$bgd-404: #f1edea;
$nav-font:rgb(69, 65, 62);

main {
    background-color: $bgd-404;
    width: 100vw;
    min-height: 100vh;
    margin-left: -56px;
    margin-right: -56px;
    color: $nav-font;
    overflow-x: hidden;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
    * {
        font-family: 'Lato', sans-serif;
    }
    .breadcrumbs {
        text-align: center;
        padding-top: 60px;
        a {
            text-decoration: none;
            color: $green;
        }
        a:hover {
            font-weight: bold;
            color: $nav-font;
        }
    }
    h1#pageName {
        font-size: 38px;
        font-weight: bold;
        text-align: center;
        padding: 30px 0;
        display: flex;
        align-items: center;     
    }
    h1#pageName::before, h1#pageName::after {
        content: '';
        flex: 1;
        border-bottom: 2px solid #e5e2df;
    }
    h1#pageName:not(:empty)::before {
        margin-right: 1em;
    }
    h1#pageName:not(:empty)::after {
        margin-left: 1em;
    }
    .main-block {
        padding: 80px;
        margin-bottom: 55px;
        background-color: #fff;
        display: flex;
        flex-direction: row;
        position: relative;
        .oops {
            background-image: url(../images/exlamation.png);
            background-repeat: no-repeat;
            background-size: cover;
            // background-position-x: -8%;
            position: absolute;
            top: 15%;
            bottom: 0;
            left: -4%;
            right: 0;
            background-size: contain;
            height: 365px;
            width: 315px;
        }
        span {
            font-size: 82px;
            font-weight: bold;
            color: $green;
            z-index: 1;
            flex-grow: 1;
            align-self: center;
        }
        .right-to-oops {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-grow: 1;
            * {
                margin: 15px;
            }
            h3 {
                font-size: 18px;
                font-weight: bold;
                color: #000;
            }
            a {
                text-decoration: none;
                color: $green;
                cursor: pointer;
            }
            p, a {
                font-size: 14px;
                line-height: 20px;
            }
            .input {
                position: relative;
                box-sizing: border-box;
                i.fas {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 8%;
                    color: #afaead;
                    z-index: 1;
                    margin: 0;
                    padding-right: 40px;
                    padding: 9px;
                    transform: scale(-1, 1);
                }
                input {
                    border: 2px solid $bgd-404;
                    border-radius: 50px;
                    display: inline-block;
                    padding: 7px;
                    width: 90%;
                    margin: 0;
                }
                input:focus {
                    outline: 0;
                }
            } 
        }
    }
}
@media(min-width: 768px) and (max-width: 1279px){
    .main-block {
        transform: scale(0.8);
        .oops {
            transform: scale(0.8);
        }
        span {
            transform: scale(0.8);
        }
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    main {
        margin: 0;
        padding: 81px 10px 0 10px;
        .main-block {
            flex-direction: column;
            padding: 10px;
            .right-to-oops {
                z-index: 2;
            }
        }
    }
}