$green: #84bc22;
$bgd-404: #f1edea;

main {
    color: rgb(69, 65, 62);
    h1#pageName::before, h1#pageName::after {
        border-bottom: 2px solid #fff;
    }
    .filters {
        background-color: #fff;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        .filter {
            flex-grow: 1;
            width: 25%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            padding: 40px;
            > span {
                margin-right: 30px;
                padding-top: calc((35px - 14px)/2);
                font-size: 14px;
            }
        }
        #colorDiv {
            .color-picker {
                display: inline-block;
                width: max-content;
                height: max-content;
                background: rgba(255, 255, 255, 0);
                align-self: center;
                cursor: pointer;
            }
            
            .color-pagination span{
                display: inline-block;
                position: relative;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                margin: 0 4px;
                box-shadow: 1px 1px 4px 0.5px rgba(0, 0, 0, .3);;
            }
            
            .color-pagination {
                #white {
                    background: #fff;
                }
                #blue {
                    background: #43c0cf;
                }
                #black {
                    background: #000;
                }
                #green {
                    background: #4aaf00;
                }
                #darkblue {
                    background: #315bbd;
                }
                #orange {
                    background: #ec6115;
                }
                #red {
                    background: #dc041d;
                }
                #beige {
                    background: #efead7;
                }
                span.picked{
                    border: 2.5px solid rgb(69, 65, 62);
                }
            }
        }
    }
    .products-block {
        margin-left: -50px;
        background-color: rgba(255, 255, 255, 0);
        padding-top: 25px;
        > span {
            color: rgb(69, 65, 62);
            font-size: 13px;
            margin: auto;
            padding-bottom: 15px;
        }
    }
    button.btnGreen {
        border: 2px solid #d9d9d9;
        color: #fff;
        background-color: #84bc22;
        margin: 50px auto 0;
    }
    select {
        height: 35px;
        border: 2px solid #b6b3b0;
        border-radius: 50px;
        width: 198px;
        option {
            text-align: center;
        }
    }
    select:focus {
        outline: 0;
    }
}